@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,100;1,300;1,500&display=swap');

@font-face {
    font-family: "Japanese";
    src: url("./fonts/electroharmonix.regular.otf");
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: rgb(209, 209, 209);
}

* {
    box-sizing: border-box;
}

.logo .brand-name {
    font-family: "Japanese";

    font-size: 35px;

    padding: 0 10px;
    border-radius: 10px;

    background-color: black;
    color: white;
}

.logo .brand-name:hover {
    background-color: rgb(218, 36, 36);
}

.image-container {
    width: 200px;
    height: 200px;

    overflow: hidden;
    border-radius: 15px;
}

.image-container img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.dashboard {
    padding: 15px 3%;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-flow: column;

    background-color: black;
}

.dashboard .tabs {
    margin: 0;

    display: flex;
    gap: 15px;

    align-items: center;
    font-size: 17px;
    color: white;
}

.tabs li.about-us {
    margin-left: auto;
}

.dashboard .tabs li {
    list-style: none;
}


#content {
    display: grid;
    gap: 60px;
    padding: 0 3%;
    margin-top: 25px;
}

.card {
    padding: 3%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
    background-color: white;
}

.card.home,
.card.about-us {
    padding: 0;

    overflow: hidden;

    display: grid;
    grid-template-columns: auto 1fr;
}

.card.home .image-container,
.card.about-us .image-container {
    width: 600px;
    height: 490px;
    border-radius: 0;
}

.card.home .copy,
.card.about-us .copy {
    padding-left: 7%;
    padding-right: 20%;

    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
    align-content: center;

    gap: 15px;
}

.card.home .heading,
.card.about-us .heading {
    font-size: 40px;
    font-weight: 600;
}

.card.home .description,
.card.about-us .description {
    font-size: 22px;
}

.card.home.hero-section {
    grid-template-columns: 1fr;
    grid-template-rows: 700px 200px;
}

.card.home.hero-section .copy {
    padding: 0;
    display: grid;
    justify-items: center;
}

.card.home.hero-section .image-container {
    width: 100%;
    height: 100%;
}


.card button {
    padding: 6px 13px;

    background-color: rgb(232, 49, 49);

    font-size: 20px;
    color: white;

    border: 1px solid rgb(232, 49, 49);
    border-radius: 7px;
}

.card button:hover {
    background-color: rgb(218, 36, 36);
    border-color: rgb(218, 36, 36);
}


.gallery-container,
.selection {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-rows: 250px;
    gap: 50px;
    justify-content: center;
}

.card.gallery-item,
.card.menu-item {
    width: 100%;
    height: 100%;

    padding: 10px;

    border-radius: 15px;
}

.card.gallery-item:hover,
.card.menu-item:hover {
    transform: scale(1.1);
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card.gallery-item .image-container {
    width: 100%;
    height: 100%;
}


.category {
    display: grid;

    grid-auto-flow: column;
    justify-content: center;

    gap: 10px;
}

.category button {
    padding: 4px 10px;

    background-color: rgb(232, 49, 49);

    font-size: 16px;
    color: white;

    border: 1px solid rgb(232, 49, 49);
    border-radius: 15px;
}

.category button:hover {
    background-color: rgb(218, 36, 36);
    border-color: rgb(218, 36, 36);
}

.card.menu-item {
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card.menu-item .image-container {
    width: 100%;
    height: 100%;
}

.card.menu-item .copy {
    display: flex;
    justify-content: space-between;

    font-weight: 600;
}

.card.menu-item .heading {
    text-transform: capitalize;
}

.card.menu-item .description::before {
    content: "$";
}